@keyframes card-line1 {
  0% {
    bottom: 1rem;
    opacity: 0;
  }
  100% {
    bottom: -1.2rem;
    opacity: 1;
  }
}
@keyframes card-line2 {
  0% {
    bottom: 2rem;
    opacity: 0;
  }
  100% {
    bottom: -2.1rem;
    opacity: 1;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 81.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  background: #F3F6FD;
}

body {
  font-family: "Lato";
  line-height: 1.7;
}

.heading-primary {
  font-size: 2.4rem;
  font-weight: 800;
}

.heading-secondary {
  font-size: 1.8rem;
  font-weight: 700;
}

.heading-tertary {
  font-size: 1.8rem;
  color: #454545;
  font-weight: 800;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 4rem;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem 2.5rem;
}

.u-padding-all {
  padding: 1.2rem 2rem 1.2rem 2.5rem;
}

.project {
  padding: 5rem 6rem 0 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media only screen and (max-width: 81.25em) {
  .project {
    padding: 4rem 5rem 2rem 5rem;
  }
}
@media only screen and (max-width: 48em) {
  .project {
    margin-bottom: 12rem;
  }
}
@media only screen and (max-width: 23.43em) {
  .project {
    padding: 3rem;
  }
}
.project__head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #454545;
}
.project__head__date {
  font-size: 1.8rem;
  font-weight: 600;
}
.project__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__detail__ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
@media only screen and (max-width: 68.75em) {
  .project__detail__ul__li {
    width: 40%;
  }
}
@media only screen and (max-width: 48em) {
  .project__detail__ul__li {
    width: auto;
  }
}
@media only screen and (max-width: 34.39em) {
  .project__detail__ul__li {
    width: 40%;
  }
}
.project__detail__ul__li__heading {
  font-size: 2rem;
  font-weight: 800;
}
.project__detail__ul__li__text {
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #454545;
}
.project__detail__ul__li__text::before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: solid 1px;
  margin-right: 0.8rem;
}
.project__detail__btn {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}
@media only screen and (max-width: 34.39em) {
  .project__detail__btn {
    flex-direction: column;
    margin: 2rem;
    gap: 2rem;
  }
}
.project__detail__btn__icon {
  width: 3rem;
  height: 3rem;
}

.cards {
  display: grid;
  padding: 1rem 0.3rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.5rem;
  height: 60vh;
  overflow-y: auto;
}
@media only screen and (max-width: 68.75em) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    height: calc(65vh - 9rem);
  }
}
@media only screen and (max-width: 48em) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 34.39em) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    height: calc(60vh - 9rem);
  }
}
.cards::-webkit-scrollbar {
  display: none;
}
.cards__box {
  border-radius: 4rem;
  height: max-content;
  position: relative;
  cursor: pointer;
  margin-bottom: 4.5rem;
}
.cards__box:hover {
  transition: all 0.2s;
  transform: scale(1.005);
}
.cards__box:hover::after {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 0.6rem;
  width: 80%;
  border-radius: 2rem;
  background-color: inherit;
  animation: card-line1 0.2s;
}
.cards__box:hover::before {
  content: "";
  position: absolute;
  bottom: -2.1rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 0.6rem;
  width: 70%;
  border-radius: 2rem;
  background-color: inherit;
  animation: card-line2 0.2s;
}
.cards__box__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #454545;
}
.cards__box__head__date {
  font-size: 1.4rem;
  color: #454545;
  font-weight: 500;
}
.cards__box__head__menu {
  font-size: 2.2rem;
  color: #151522;
  font-weight: 900;
  cursor: pointer;
}
.cards__box__title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cards__box__title__span {
  font-size: 1.7rem;
  color: #454545;
  font-weight: 500;
}
.cards__box__progress {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #454545;
  font-size: 1.6rem;
  font-weight: 800;
  border-bottom: 0.2rem solid #FFFFFF;
}
.cards__box__progress--1 {
  border-bottom: 0.2rem solid #F3F6FD;
}
.cards__box__progress__main {
  width: 100%;
  height: 0.8rem;
  background: #EBEBEB;
  border-radius: 20px;
}
.cards__box__progress__main__line {
  height: 100%;
  border-radius: 20px;
}
.cards__box__progress__main__line--1 {
  background: #2BC8FF;
  width: 90%;
}
.cards__box__progress__main__line--2 {
  background: #FF723B;
  width: 30%;
}
.cards__box__progress__main__line--3 {
  background: #02D052;
  width: 50%;
}
.cards__box__progress__main__line--4 {
  background: #FF72AC;
  width: 20%;
}
.cards__box__progress__persentage {
  margin-left: auto;
}
.cards__box__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.cards__box__footer__img-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.cards__box__footer__img-box__imgs {
  display: flex;
  align-items: center;
}
.cards__box__footer__img-box__imgs__img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}
.cards__box__footer__img-box__imgs__img:not(:last-child) {
  margin-right: -1rem;
}
.cards__box__footer__img-box__plus-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 2.1rem;
  font-weight: 500;
  border-radius: 50%;
  cursor: pointer;
  width: 2.9rem;
  height: 2.9rem;
  transition: transform 0.2s;
}
.cards__box__footer__img-box__plus-btn:hover {
  transform: scale(1.1);
}
.cards__box__footer__img-box__plus-btn--1 {
  background: #2BC8FF;
}
.cards__box__footer__img-box__plus-btn--2 {
  background: #FF723B;
}
.cards__box__footer__img-box__plus-btn--3 {
  background: #02D052;
}
.cards__box__footer__img-box__plus-btn--4 {
  background: #FF72AC;
}
.cards__box__footer__btn {
  padding: 1rem 3.2rem;
  border-radius: 25rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s;
}
@media only screen and (max-width: 81.25em) {
  .cards__box__footer__btn {
    padding: 1rem 2rem;
  }
}
.cards__box__footer__btn:hover {
  transform: translateY(-0.2rem);
}
.cards__box__footer__btn--1 {
  background: #DBF6FD;
  color: #2BC8FF;
}
.cards__box__footer__btn--2 {
  background: #FFFFFF;
  color: #FF723B;
}
.cards__box__footer__btn--3 {
  color: #02D052;
  background: #FFFFFF;
}
.cards__box__footer__btn--4 {
  color: #FF72AC;
  background: #FFFFFF;
}
.cards__box--1 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cards__box--1:hover::after, .cards__box--1:hover::before {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cards__box--2 {
  background: #FDE5CC;
}
.cards__box--3 {
  background: #B4F1CE;
}
.cards__box--4 {
  background: #FFD3E2;
}

.message {
  width: 100%;
}
@media only screen and (max-width: 48em) {
  .message {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
.message__header {
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #454545;
  border-bottom: 0.2rem solid rgba(155, 155, 154, 0.2);
}
.message__header__right-part {
  display: flex;
  align-items: center;
  height: 3rem;
  gap: 2rem;
}
.message__header__right-part--search {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.message__header__right-part--dot {
  font-size: 3rem;
  font-weight: 800;
  cursor: pointer;
}
.message__item {
  list-style: none;
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.message__item::-webkit-scrollbar {
  display: none;
}
.message__item__attribute {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 3rem;
  transition: transform 0.2s;
  cursor: pointer;
}
.message__item__attribute:not(:last-child) {
  border-bottom: 0.2rem solid rgba(155, 155, 154, 0.2);
}
.message__item__attribute:hover {
  background: #FFFFFF;
  transform: scale(1.01);
}
.message__item__attribute--img {
  width: 6.5rem;
  height: 6rem;
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
  object-fit: cover;
}
.message__item__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  color: #454545;
}
.message__item__container__detail-msg {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.message__item__container__msg-date {
  margin-left: auto;
  font-size: 1.2rem;
}
.message__item__container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.message__item__container-top__title {
  font-size: 1.8rem;
  font-weight: 800;
}
.message__item__container-top__icon {
  width: 2rem;
  height: 2rem;
}

.app-message {
  position: relative;
  z-index: 500;
}
.app-message__button {
  position: fixed;
  z-index: 1000;
  bottom: 10rem;
  right: 3rem;
  display: none;
}
@media only screen and (max-width: 48em) {
  .app-message__button {
    display: block;
  }
}
.app-message__button__link {
  text-decoration: none;
  font-size: 4rem;
  color: #FFFFFF;
  padding: 1.2rem;
  border-radius: 50%;
  background: #91ceeb;
}
.app-message__container {
  position: fixed;
  bottom: 15rem;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.app-message__container:target {
  visibility: visible;
  opacity: 1;
}
.app-message__container__popup {
  margin: 2rem auto;
  padding: 5.5rem 2rem 2rem 2rem;
  background: #F3F6FD;
  box-shadow: 0 0.2rem 1rem 0 rgba(21, 21, 34, 0.2);
  border-radius: 5rem;
  width: 80%;
  position: relative;
}
.app-message__container__popup__close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  border-radius: 50rem;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.app-message__container__popup__close--span {
  border: 0.2rem solid #151522;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 600;
}
.app-message__container__popup__content {
  max-height: 80%;
  overflow: auto;
}
.app-message__header {
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #454545;
  border-bottom: 0.2rem solid rgba(155, 155, 154, 0.2);
}
@media only screen and (max-width: 48em) {
  .app-message__header {
    padding: 1.2rem 1rem;
  }
}
.app-message__header__right-part {
  display: flex;
  align-items: center;
  height: 3rem;
  gap: 2rem;
}
.app-message__header__right-part--search {
  width: 2.5rem;
  height: 2.5rem;
}
.app-message__header__right-part--dot {
  font-size: 3rem;
  font-weight: 800;
}
.app-message__item {
  list-style: none;
  overflow: auto;
  height: 60vh;
}
.app-message__item__attribute {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 3rem;
}
@media only screen and (max-width: 48em) {
  .app-message__item__attribute {
    padding: 1.2rem 1rem;
  }
}
.app-message__item__attribute:not(:last-child) {
  border-bottom: 0.2rem solid rgba(155, 155, 154, 0.2);
}
.app-message__item__attribute--img {
  width: 6.5rem;
  height: 6rem;
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
  object-fit: cover;
}
.app-message__item__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  color: #454545;
}
.app-message__item__container__detail-msg {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.app-message__item__container__msg-date {
  margin-left: auto;
  font-size: 1.2rem;
}
.app-message__item__container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.app-message__item__container-top__title {
  font-size: 1.8rem;
  font-weight: 800;
}
.app-message__item__container-top__icon {
  width: 2rem;
  height: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * (6rem)) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * (6rem)) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * (6rem)) / 3 + 6rem);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * (6rem)) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * (6rem)) / 4 + 2 * 6rem);
}

.navigation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  padding: 2rem;
  position: relative;
}
@media only screen and (max-width: 48em) {
  .navigation {
    height: auto;
    gap: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: #F3F6FD;
  }
}
.navigation__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
@media only screen and (max-width: 48em) {
  .navigation__logo {
    display: none !important;
    visibility: hidden;
  }
}
.navigation__logo__line {
  display: inline-block;
  height: 0.3rem;
  width: 4.5rem;
  border-radius: 1rem;
  background: #151522;
}
.navigation__items {
  list-style: none;
  font-size: 2.4rem;
  color: #9B9B9A;
}
@media only screen and (max-width: 48em) {
  .navigation__items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }
}
@media only screen and (max-width: 34.39em) {
  .navigation__items {
    gap: 1.1rem;
  }
}
.navigation__items__li {
  width: 5.4rem;
  height: 5.4rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
}
@media only screen and (max-width: 48em) {
  .navigation__items__li {
    margin-bottom: 0;
  }
}
.navigation__items__li:hover, .navigation__items__li--select {
  color: #FFFFFF;
  background-color: #151522;
}
.navigation__items__li__icon {
  width: 3.4rem;
  height: 3.4rem;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 4rem 0 6rem;
}
@media only screen and (max-width: 81.25em) {
  .header {
    padding: 4rem 5rem;
  }
}
@media only screen and (max-width: 34.39em) {
  .header {
    padding: 3rem 2rem;
  }
}
.header__serch-box {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-family: inherit;
  background-color: #ffffff;
  border: none;
  padding: 1.1rem 1rem;
  margin-left: 10%;
  border-radius: 100px;
  width: 33%;
}
@media only screen and (max-width: 34.39em) {
  .header__serch-box {
    display: none;
  }
}
.header__serch-box__icon {
  width: 2.4rem;
  height: 2rem;
}
@media only screen and (max-width: 34.39em) {
  .header__serch-box__icon {
    display: none;
  }
}
.header__serch-box__input {
  font-size: 1.6rem;
  margin: 0 1rem;
  width: 100%;
  border: none;
  outline: none;
}
@media only screen and (max-width: 34.39em) {
  .header__serch-box__input {
    display: none;
  }
}
.header__profile {
  margin-left: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header__profile__add-btn {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background: #151522;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__profile__add-btn__icon {
  color: #FFFFFF;
  width: 2.2rem;
  height: 2.2rem;
}
.header__profile__notification {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  position: relative;
}
.header__profile__notification::after {
  content: "";
  position: absolute;
  top: 1rem;
  right: 0;
  transform: translate(-50%, -50%);
  width: 0.9rem;
  height: 0.9rem;
  background: #ff0000;
  border-radius: 50%;
}
.header__profile__user {
  padding-left: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-left: 0.2rem solid #9B9B9A;
}
.header__profile__user__img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.app-search {
  margin-left: auto;
}
.app-search__label {
  display: none;
}
@media only screen and (max-width: 34.39em) {
  .app-search__label {
    display: block;
  }
}
.app-search__label__icon {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background: #151522;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.app-search__label__icon--svg {
  color: #FFFFFF;
  width: 2.2rem;
  height: 2.2rem;
}
.app-search__box {
  display: none;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0 0 2rem rgba(21, 21, 34, 0.5);
  color: #ffffff;
  border-radius: 2rem;
  width: 50%;
  top: 7rem;
  left: 25%;
}
.app-search__box__header {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;
  font-weight: 600;
}
.app-search__box__header__icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #151522;
}
.app-search__box__header__icon--svg {
  width: 2.2rem;
  height: 2.2rem;
}
.app-search__box__header__input {
  border: none;
  outline: none;
  background-color: transparent;
}
.app-search__box__header__input:focus {
  outline: none;
}
.app-search__input {
  display: none;
}
.app-search__input:checked ~ .app-search__box {
  display: block;
}
@media only screen and (max-width: 34.39em) {
  .app-search__input:checked ~ .app-search__box {
    display: block;
  }
}

.main-container {
  display: grid;
  grid-template-columns: 10rem 1fr 42rem;
  grid-template-rows: 8rem 1fr;
  height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 68.75em) {
  .main-container {
    grid-template-columns: 9rem 1.2fr 1.1fr;
  }
}

.navigation-section {
  grid-row: 1/-1;
  grid-column: 1/2;
}
@media only screen and (max-width: 48em) {
  .navigation-section {
    grid-row: 4/5;
    grid-column: 1/-1;
    background: #F3F6FD;
  }
}

.header {
  grid-column: 2/-1;
}
@media only screen and (max-width: 48em) {
  .header {
    grid-column: 1/-1;
  }
}

.project-section {
  background: #FFFFFF;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  grid-column: 2/3;
}
@media only screen and (max-width: 48em) {
  .project-section {
    grid-column: 1/-1;
    border-radius: 0;
  }
}

.web-message-box {
  margin-top: 3rem;
}

/*# sourceMappingURL=style.css.map */
