@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


// media queries
//1em = 16px;
@mixin respond($breakpoint) {

  @if $breakpoint == phone-medium {
    @media only screen and (max-width: 34.39em) {
      //550px
      @content;
    }
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-small {
    @media only screen and (max-width: 48em) {
      //768px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land-large {
    @media only screen and (max-width: 68.75em) {
      //1100px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
