$default-font-size:1.6rem;

$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

$gutter-vertical-small: 6rem;

$grid-width: 114rem;
$grid-height: 5rem;

$color-white: #FFFFFF;
$color-black: #151522;
$color-red: #ff0000;
$color-grey-light: #F3F6FD;
$color-grey-dark: #9B9B9A;
$color-light-orange: #FDE5CC;
$color-light-green: #B4F1CE;
$color-light-pink: #FFD3E2;
$color-light-purple: #E9E7FD;


