.project {
  padding: 5rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include respond(tab-land) {
    padding: 4rem 5rem;
  }

  @include respond(tab-small) {
    margin-bottom: 8rem;
  }
  @include respond(phone-medium) {
    padding: 3rem;
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: $color-black-light;

    &__date {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  &__detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      gap: 2rem;

      &__li {
        @include respond(phone-medium) {
          width: 40%; 
        }

        &__heading {
          font-size: 2rem;
          font-weight: 800;
        }

        &__text {
          font-size: 1.6rem;
          line-height: 1.8rem;
          color: $color-black-light;

          &::after {
            content: "";
            display: inline-block;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            border: solid 1px;
            margin-left: 1.5rem;
          }
        }
      }
    }

    &__btn {
      display: flex;
      gap: 1.2rem;

      @include respond(phone-medium) {
        flex-direction: column; 
        margin: 2rem;
        gap: 2rem;
      }

      &__icon {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
