.navigation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  padding: 2rem;
  position: relative;

  @include respond(tab-small) {
    height: auto;
    gap: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: $color-grey-light;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;

    &__line {
      display: inline-block;
      height: 0.25rem;
      width: 5rem;
      border-radius: 1rem;
      background: $color-black;

      @include respond(tab-small) {
        display: none !important;
        visibility: hidden;
      }

      &--1 {
        width: 3rem;
        height: .28rem;
      }
    }
  }

  &__items {
    list-style: none;
    font-size: 2.4rem;
    color: $color-grey-dark;
    @include respond(tab-small) {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
    @include respond(phone-medium) {
      gap: 1.1rem;
    }

    &__li {
      width: 5.4rem;
      height: 5.4rem;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s;
      border-radius: 50%;

      @include respond(tab-small) {
        margin-bottom: 0;
      }

      &:hover,
      &--select {
        color: $color-white;
        background-color: $color-black;
      }

      &__icon {
        width: 3.4rem;
        height: 3.4rem;
      }
    }
  }
}
